<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTodoAnnotatedTests="false"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnDefect="false"
         stopOnFailure="false"
         stopOnWarning="false"
         stopOnIncomplete="false"
         stopOnRisky="false"
         stopOnSkipped="false"
         failOnRisky="false"
         failOnWarning="false"
         failOnEmptyTestSuite="false"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="HTTP">
            <directory>tests/Unit/Http</directory>
        </testsuite>
        <testsuite name="Models">
            <directory>tests/Unit/Models</directory>
        </testsuite>
        <testsuite name="Filter">
            <directory>tests/Unit/Filter</directory>
        </testsuite>
        <testsuite name="Services">
            <directory>tests/Unit/Services</directory>
        </testsuite>
        <testsuite name="Utils">
            <directory>tests/Unit/Utils</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">tests</directory>
        </exclude>
    </source>

    <coverage cacheDirectory=".phpunit.cache"
              processUncoveredFiles="false">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">tests</directory>
            <directory suffix=".php">examples</directory>
            <directory suffix=".php">docs</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="KINOPOISK_TOKEN" value="TEST-TOKEN-1234-5678-9ABC-DEF0"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>

    <listeners>
        <listener class="Tests\Listeners\TestListener">
            <arguments>
                <array>
                    <element key="printerClass">
                        <string>PHPUnit\TextUI\DefaultResultPrinter</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

    <extensions>
        <extension class="PHPUnit\Event\TestRunner\ExecutionStartedSubscriber"/>
        <extension class="PHPUnit\Event\TestRunner\ExecutionFinishedSubscriber"/>
    </extensions>
</phpunit>