<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="false"
         processIsolation="false"
         stopOnDefect="false"
         stopOnFailure="false"
         stopOnWarning="false"
         stopOnIncomplete="false"
         stopOnRisky="false"
         stopOnSkipped="false"
         failOnRisky="false"
         failOnWarning="false"
         failOnEmptyTestSuite="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="HTTP">
            <directory>tests/Unit/Http</directory>
        </testsuite>
        <testsuite name="Models">
            <directory>tests/Unit/Models</directory>
        </testsuite>
        <testsuite name="Filter">
            <directory>tests/Unit/Filter</directory>
        </testsuite>
        <testsuite name="Services">
            <directory>tests/Unit/Services</directory>
        </testsuite>
        <testsuite name="Utils">
            <directory>tests/Unit/Utils</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">tests</directory>
            <directory suffix=".php">examples</directory>
            <directory suffix=".php">docs</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>

    <php>
        <!-- Environment variables are loaded from .env.testing file via bootstrap.php -->
    </php>
</phpunit>